html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
}

.generaltext {
    font-family: Arial;
    color: #FFFFFF;
}

#loginstatus {
    font-family: Arial;
    color: red;
}

#registerstatus {
    font-family: Arial;
    color: red;
}

.menuitem {
    position: fixed;
    z-index: 2;
}

#menubar {
    width: 100%;
    height:60px;
    background-color: #bd9ac7;
    position: fixed;
    z-index: 1;
    display: none;
}

.menuitemimg{
    height: 30px;
}

.menuitembut{
    top: 15px;
    position: fixed;
    z-index: 2;   
}

.infobutton {
    right: 20%;
}

.ordersbutton {
    left: 20%;
}

#loginpage {
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #bd9ac7;
    position: fixed;
    display: block;
    text-align: center;
}

#registerpage {
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #bd9ac7;
    position: fixed;
    display: none;
    text-align: center;
}

#orderpage {
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #f9c588;
    position: fixed;
    display: none;
}

#infopage {
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #87cba6;
    position: fixed;
    display: none;
}

.logo {
    margin-top: 100px;
   height: 200px;
}